package ${clazz.getServicePackage()};

import ${clazz.getDomainPackage()}.$!{clazz.getClassName()}DO;
import ${clazz.getParamPackage()}.$!{clazz.getClassName()}Param;
import ${clazz.getModelPackage()}.PageModel;

/**
 * Desc:
 * ------------------------------------
 * Author: ${clazz.archetypes.author}
 * Date: ${date}
 * Time: ${time}
 */
public interface I$!{clazz.getClassName()}Service {
  PageModel<$!{clazz.getClassName()}DO> getPageList($!{clazz.getClassName()}Param param,int offset,int limit);

  $!{clazz.getClassName()}DO add($!{clazz.getClassName()}Param $!{table.javaTableName}Param);

  $!{clazz.getClassName()}DO update($!{clazz.getClassName()}Param $!{table.javaTableName}Param);

  $!{clazz.getClassName()}DO getById(int id);

  void online(int id);

  void offline(int id);
}
